/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  border: 10px double red;
  font-size: 1.5rem;
  margin: 1.5 em;
  padding: 1.5em;
  outline: 5px solid purple;
outline-offset: -20px;


}

.circle{
margin: 3rem auto;
background-color: gold;
width: 100px;
height: 100px;
border-radius: 50px;
border: 2px solid black;
outline: 2px solid red;
outline-offset: 0.25rem;

} */
/* 
body {


  padding: 10%;
  font-size: 2rem;
  color: peru;
  font-family: sans-serif;

}

p {

  text-indent: 2em;
  text-align: justify;
  line-height: 1.5;
  word-spacing: 0em;
  font-weight: 1000;
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: blue;

}

a:visited{

  /* color: red; */
/* }

a:hover, a:focus{


  color: aqua;
} */ 

/* input, button {


  font: inherit;
} */


body{
font-size: 2rem;
font-family: Arial,  sans-serif;


}
/* main{
background-color: red;
width: 50%;

}
p{
  margin: 100px 50px;


  background-color: lightgray;
}



.opposite{

  display: inline-block;
background-color: green;
color: red;
margin-top:100px;
height: 200px;
padding: 1rem;


} */

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

  font-size: 2rem;
  font-family: Arial,  sans-serif;
}


ul {

  list-style-type: none;
  padding: 0.5;
  text-align: right;
  background-color: black;
  margin: 0;
}

li{


  display: inline-block;
  margin-inline: .5rem;
}

li a{

color: white;
text-decoration: none;

}


li a:hover, li a:focus{
text-decoration: underline;


}